body {
  margin: 0;
  padding: 0;
}

.container  {
  height: 5vh;
  display: flex;
  margin-top: -5px;
  justify-content:space-between;
  background-color: #0D6D79;
}

.container div  {
  text-align: center;
  color: white;
  padding: 4px 10px;
}




